@model MenuItem

<!-- DEBUG -->
<div>@Model.id</div>
<!-- -->
<b>Includes:</b> @Model.includes
<br />
<div class="itemInfo">
    <!-- Bread -->
    <div><b>Bread</b></div>
    <table>
        <tr>
            <td>
                <input id="LargeBun" type="radio" name="bread" value="Large Bun">
                <label for="Large Bun">Large Bun</label>
            </td>
            <td>
                <input type="radio" name="bread" value="Small Bun">
                <label for="Small Bun">Small Bun</label>
            </td>
            <td>
                <input type="radio" name="bread" value="Brioche Bun">
                <label for="Brioche Bun">Brioche Bun</label>
            </td>
            <td>
                <input type="radio" name="bread" value="Texas Toast">
                <label for="Texas Toast">Texas Toast</label>
            </td>
            <td>
                <input type="radio" name="bread" value="No Bun">
                <label for="No Bun">No Bun</label>
            </td>
        </tr>
    </table>
    <!-- Extra Patty -->
    <div><b>Extra Patty</b></div>
    <table>
        <tr>
            <td>
                <input id="patty" type="radio" name="extraPatty" value="Large @Model.pattyType Patty (1)" />
                <label for="Large @Model.pattyType Patty">Large @Model.pattyType Patty</label>
                <input type="number" id="quantity" name="quantity" min="1" max="8" value="1" class="quantity">
            </td>
        </tr>
    </table>
    <!-- Cheese -->
    <div><b>Cheese</b></div>
    <table>
        <tr>
            <td>
                <input id="AmCheese" type="checkbox" name="cheese" value="American Cheese" />
                <label for="American Cheese">American Cheese</label>
                <input type="number" id="AMquantity" name="quantity" min="1" max="8" class="quantity">
            </td>
            <td>
                <input id="MnJkCheese" type="checkbox" name="cheese" value="Monterary Jack Cheese" />
                <label for="Monterary Jack Cheese">Monterary Jack Cheese</label>
                <input type="number" id="MJquantity" name="quantity" min="1" max="8" class="quantity">
            </td>
        </tr>
    </table>
    <!-- Add-Ons -->
    <div><b>Popular Add-Ons</b></div>
    <table>
        <tr>
            <td>
                <input type="checkbox" name="addOns" value="Chili" />
                <label for="Chili">Chili</label>
            </td>
            <td>
                <input id="Bacon" type="checkbox" name="addOns" value="Bacon Slices" />
                <label for="Bacon Slices">Bacon Slices</label>
                <input type="number" id="BCNquantity" name="quantity" min="1" max="8" class="quantity">
            </td>
            <td>
                <input id="Jalapeno" type="checkbox" name="addOns" value="Jalapenos" />
                <label for="Jalapenos">Jalapenos</label>
                <input type="number" id="JPNquantity" name="quantity" min="1" max="8" class="quantity">
            </td>
            <td>
                <input id="GrJalapenos" type="checkbox" name="addOns" value="Grilled Jalapenos" />
                <label for="Grilled Jalapenos">Grilled Jalapenos</label>
                <input type="number" id="GrJPNquantity" name="quantity" min="1" max="8" class="quantity">
            </td>
            <td>
                <input id="Avocado" type="checkbox" name="addOns" value="TB_Avocado" />
                <label for="Avocado">Avocados</label>
                <input type="number" id="AVquantity" name="quantity" min="1" max="8" class="quantity">
            </td>
            <td>
                <input id="Chiles" type="checkbox" name="addOns" value="Green TB_Chiles" />
                <label for="Green TB_Chiles">Green Chiles</label>
                <input type="number" id="GCquantity" name="quantity" min="1" max="8" class="quantity">
            </td>
        </tr>
    </table>
    <!-- Toppings -->
    <div><b>Toppings</b></div>
    <table>
        <tr>
            <td>
                <input id="TomatoS" type="checkbox" name="toppings" value="Tomato" />
                <label for="Tomato">Tomato</label>
                <select name="selection" id="Tomato">
                    <option value="Less">Less</option>
                    <option value="Regular">Regular</option>
                    <option value="More">More</option>
                </select>
            </td>
            <td>
                <input id="LettuceS" type="checkbox" name="toppings" value="Lettuce" />
                <label for="Lettuce">Lettuce</label>
                <select name="selection" id="Lettuce">
                    <option value="Less">Less</option>
                    <option value="Regular">Regular</option>
                    <option value="More">More</option>
                </select>
            </td>
            <td>
                <input id="pickles" type="checkbox" name="toppings" value="Pickles" />
                <label for="Pickles">Pickles</label>
                <select name="selection" id="Pickles">
                    <option value="Less">Less</option>
                    <option value="Regular">Regular</option>
                    <option value="More">More</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input id="onionD" type="checkbox" name="toppings" value="Diced Onions" />
                <label for="Diced Onions">Diced Onions</label>
                <select name="selection" id="DiOnion">
                    <option value="Less">Less</option>
                    <option value="Regular">Regular</option>
                    <option value="More">More</option>
                </select>
            </td>
            <td>
                <input id="GrOnionS" type="checkbox" name="toppings" value="Grilled Onions" />
                <label for="Grilled Onions">Grilled Onions</label>
                <select name="selection" id="GrOnion">
                    <option value="Less">Less</option>
                    <option value="Regular">Regular</option>
                    <option value="More">More</option>
                </select>
            </td>
            <td>
                <input id="FriseeS" type="checkbox" name="toppings" value="Frisée" />
                <label for="Frisée">Frisée</label>
                <select name="selection" id="Frisee">
                    <option value="Less">Less</option>
                    <option value="Regular">Regular</option>
                    <option value="More">More</option>
                </select>
            </td>
        </tr>
    </table>
    <!-- Sauces -->
    <div><b>Sauces</b></div>
    <table>
        <tr>
            <td>
                <input id="mustard" type="checkbox" name="sauces" value="Mustard" />
                <label for="Mustard">Mustard</label>
                <select name="selection" id="Mustard">
                    <option value="Less">Less</option>
                    <option value="Regular">Regular</option>
                    <option value="More">More</option>
                </select>
            </td>
            <td>
                <input id="Mayonnaise" type="checkbox" name="sauces" value="Mayonnaise" />
                <label for="Mayonnaise">Mayonnaise</label>
                <select name="selection" id="Mayo">
                    <option value="Less">Less</option>
                    <option value="Regular">Regular</option>
                    <option value="More">More</option>
                </select>
            </td>
            <td>
                <input id="TB_KetchupS" type="checkbox" name="sauces" value="Ketchup" />
                <label for="Ketchup">Ketchup</label>
                <select name="selection" id="Ketchup">
                    <option value="Less">Less</option>
                    <option value="Regular">Regular</option>
                    <option value="More">More</option>
                </select>
            </td>
            <td>
                <input id="HoneyBBQ" type="checkbox" name="sauces" value="Honey BBQ" />
                <label for="Honey BBQ">Honey BBQ</label>
                <select name="selection" id="BBQ">
                    <option value="Less">Less</option>
                    <option value="Regular">Regular</option>
                    <option value="More">More</option>
                </select>
            </td>
        </tr>
    </table>
    <br />
    @if (Model.name == "Grass Burger")
    {
        <form asp-controller="Menu" asp-action="SECRET" method="post">
            <input type="image" src=/images/btnAddToOrder.png" class="AddButton center" />
    </form>
    }
    else
    {
    <form asp-controller="Menu" asp-action="DUD">
        <input type="image" src="Resources/btnAddToOrder.png" class="AddButton center" />
        </form>
    }
</div>
<div class="itemInfo">
    <b>Contains:</b> @Model.allergens <br />
    <b>Nutritional Facts:</b>
    <div class="shrinkText">
        <b>Sandwich Only:</b>
        <table class="nutTable">
            <tr> <td>Calories: @Model.soloCal</td>                 <td>Calories from Fat: @Model.FatCal_Solo</td>   <td>Saturated Fat (g): @Model.SatFat_Solo</td> </tr>
            <tr> <td>Trans Fat (g): @Model.TranFat_Solo</td>       <td>Cholesterol (g): @Model.Chole_Solo</td>      <td>Sodium (mg): @Model.Sodium_Solo</td> </tr>
            <tr> <td>Dietary Fiber (g): @Model.DietFiber_Solo</td> <td>Protein (g): @Model.Protein_Solo</td>        <td>Sugars (g): @Model.Sugars_Solo</td> </tr>
        </table>
        @if (Model.mealCal != 0)
        {
            <b>Meal:</b>
            <table class="nutTable">
                <tr> <td>Calories: @Model.mealCal</td>                 <td>Calories from Fat: @Model.FatCal_Meal</td>   <td>Saturated Fat (g): @Model.SatFat_Meal</td> </tr>
                <tr> <td>Trans Fat (g): @Model.TranFat_Meal</td>       <td>Cholesterol (g): @Model.Chole_Meal</td>      <td>Sodium (mg): @Model.Sodium_Meal</td> </tr>
                <tr> <td>Dietary Fiber (g): @Model.DietFiber_Meal</td> <td>Protein (g): @Model.Protein_Meal</td>        <td>Sugars (g): @Model.Sugars_Meal</td> </tr>
            </table>
        }
        <br />
    </div>
</div>
