<link rel="stylesheet" href="~/css/L.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@model ZipModel
@if (Model != null )
   
{
    <div class="divs divs3">
        <img class="divs2" src="~/images/ZipCodeImg.png" />
        <table class="table table-bordered table-striped table-secondary table-sm  centerTable">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.Places)
            {
                            <tr>
                                
                                <td>@Html.DisplayFor(modelItem => Model.Country)</td>
                                <td>@Html.DisplayFor(modelItem => item.PlaceName)</td>
                                <td>@Html.DisplayFor(modelItem => item.State)</td>
                                <td>@Html.DisplayFor(modelItem => item.Longitude)</td>
                                <td>@Html.DisplayFor(modelItem => item.Latitude)</td>
                            </tr>
            }
                </tbody>
            </table>
    </div>
}
else{
    <h3>No Data</h3>
}