@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ZipModel
@if (Model != null )
   
{
            <table class="table table-bordered table-striped table-secondary table-sm">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.Places)
            {
                            <tr>
                                
                                <td>@Html.DisplayFor(modelItem => Model.Country)</td>
                                <td>@Html.DisplayFor(modelItem => item.PlaceName)</td>
                                <td>@Html.DisplayFor(modelItem => item.State)</td>
                                <td>@Html.DisplayFor(modelItem => item.Longitude)</td>
                                <td>@Html.DisplayFor(modelItem => item.Latitude)</td>
                            </tr>
            }
                </tbody>
            </table>
}
else{
    <h3>No Data</h3>
}