@model MenuItem

<head>
    <script src="~/js/menu_JS.js"></script>
</head>

<div class="col-lg-4 col-md-12 mb-4">
    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="@Model.imageSrc" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <p class="card-text text-dark">
                @if (Model.type.ToLower() == "burger" || Model.type.ToLower() == "chickensando")
                {
                    <span>
                        <b>Sandwich Only:</b> $@Model.soloPrice (@Model.soloCal Cal) <br />
                    </span>
                }
                else if (Model.type.ToLower() == "chicken")
                {
                    <span>
                        <b>Tenders Only:</b> $@Model.soloPrice (@Model.soloCal Cal) <br />
                    </span>
                }
                else if (Model.type.ToLower() == "drinks3" || Model.type.ToLower() == "drinks4" || Model.type.ToLower() == "milk")
                {
                    <div></div>
                }
                else
                {
                    <span>
                        $@Model.soloPrice (@Model.soloCal Cal) <br />
                    </span>
                }

                @if (Model.mealPrice != 0)
                {
                    <span>
                     <b>NotaMeal®:</b> $@Model.mealPrice (@Model.mealCal Cal) <br /> <br />
                    </span>
                }
                
            </p>
            <a href="#!" class="btn btn-primary">Add To Cart</a>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#@Model.id">
                Additional Info
            </button>
            <!-- EDIT/DELETE Section -->
            <div></div>

            <!-- Modal -->
            <div class="modal fade" id="@Model.id" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- TEMP -->
                            <b>Includes:</b> @Model.includes
                            <br /><br />
                            @if (Model.allergens != "null")
                            { 
                                <b>Contains:</b> @Model.allergens 
                            }
                            <br />
                            <div class="shrinkText">
                                @if (Model.soloCal != 0)
                                {
                                    <b>Nutritional Facts:</b>
                                    <br />
                                    @if (Model.type.ToLower() == "burger" || Model.type.ToLower() == "chickensando")
                                    {
                                        <span>
                                            <b>Sandwich Only:</b>
                                        </span>
                                    }
                                    else if (Model.type.ToLower() == "chicken")
                                    {
                                        <span>
                                            <b>Tenders Only:</b>
                                        </span>
                                    }
                                    <table class="nutTable">
                                        <tr> <td>Calories: @Model.soloCal</td>                 <td>Calories from Fat: @Model.FatCal_Solo</td>   <td>Saturated Fat (g): @Model.SatFat_Solo</td> </tr>
                                        <tr> <td>Trans Fat (g): @Model.TranFat_Solo</td>       <td>Cholesterol (g): @Model.Chole_Solo</td>      <td>Sodium (mg): @Model.Sodium_Solo</td> </tr>
                                        <tr> <td>Dietary Fiber (g): @Model.DietFiber_Solo</td> <td>Protein (g): @Model.Protein_Solo</td>        <td>Sugars (g): @Model.Sugars_Solo</td> </tr>
                                    </table>
                                }
                                @if (Model.mealCal != 0)
                                {
                                    <b>Meal:</b>
                                    <table class="nutTable">
                                        <tr> <td>Calories: @Model.mealCal</td>                 <td>Calories from Fat: @Model.FatCal_Meal</td>   <td>Saturated Fat (g): @Model.SatFat_Meal</td> </tr>
                                        <tr> <td>Trans Fat (g): @Model.TranFat_Meal</td>       <td>Cholesterol (g): @Model.Chole_Meal</td>      <td>Sodium (mg): @Model.Sodium_Meal</td> </tr>
                                        <tr> <td>Dietary Fiber (g): @Model.DietFiber_Meal</td> <td>Protein (g): @Model.Protein_Meal</td>        <td>Sugars (g): @Model.Sugars_Meal</td> </tr>
                                    </table>
                                }

                                if (Model.type.ToLower() == "drinks3")
                                {
                                    @if (Model.name == "coffee")
                                    {
                                        <p id="Prices">
                                            <table>
                                                <tr> <td> <b>Sizes:</b> </td> </tr>
                                                <tr>
                                                    <td><input type="radio" name="size-S" value="Small"><label for="Small">Small (12 oz): $1.59 (5 Cal)</label></td>
                                                    <td><input type="radio" id="Coffee_M" name="size-M" value="Medium"><label for="Medium">Medium (16 oz): $1.89 (0 Cal)</label></td>
                                                    <td><input type="radio" name="size-L" value="Large"><label for="Large">Large (20 oz): $2.19 (0 Cal)</label></td>
                                                </tr>
                                                <tr> <td> <b>Flavors:</b> </td> </tr>
                                                <tr>
                                                    <td><input type="radio" name="coffee" value="Regular"><label for="Regular">Regular</label></td>
                                                    <td><input type="radio" name="coffee" value="Decaf"><label for="Decaf">Decaf</label></td>
                                                </tr>
                                            </table>
                                            <form asp-controller="Menu" asp-action="DUD">
                                                <input type="image" src="Resources/btnAddToOrder.png" class="AddButton center" />
                                            </form>
                                        </p>
                                    }
                                    else if (Model.name == "shakes")
                                    {
                                        <p>
                                            <div><b>Contains:</b> Milk </div>
                                            <table>
                                                <tr> <td> <b>Sizes:</b> </td> </tr>
                                                <tr>
                                                    <td><input type="radio" name="size-S" value="Small"><label for="Small">Small (16 oz): $2.99 (400-430 Cal)</label></td>
                                                    <td><input type="radio" id="Shakes_M" name="size-M" value="Medium"><label for="Medium">Medium (20 oz): $3.49 (500-550 Cal)</label></td>
                                                    <td><input type="radio" name="size-L" value="Large"><label for="Large">Large (32 oz): $4.19 (800-870 Cal)</label></td>
                                                </tr>
                                                <tr> <td> <b>Flavors:</b> </td></tr>
                                                <tr>
                                                    <td><input type="radio" name="shakes" value="Vanilla"><label for="Vanilla">Vanilla</label></td>
                                                    <td><input type="radio" name="shakes" value="Chocolate"><label for="Chocolate">Chocolate</label></td>
                                                    <td><input type="radio" name="shakes" value="Strawberry"><label for="Strawberry">Strawberry</label></td>
                                                </tr>
                                            </table>
                                        </p>
                                    }
                                }
                                else if (Model.type.ToLower() == "drinks4")
                                {
                                    <p id="Prices">
                                        <div>
                                            <div>
                                                <b>Sizes:</b> <br />
                                                <input type="radio" name="size-K" value="Kids"><label for="Kids">Kids (16 oz): $1.69 (0-220 Cal)</label>
                                                <input type="radio" name="size-S" value="Small"><label for="Small">Small (20 oz): $2.19 (0-280 Cal)</label>
                                                <input type="radio" id="Soda_M" name="size-M" value="Medium"><label for="Medium">Medium (32 oz): $2.49 (0-440 Cal)</label>
                                                <input type="radio" name="size-L" value="Large"><label for="Large">Large (44 oz): $2.79 (0-610 Cal)</label>
                                            </div>
                                        </div>
                                        <table>
                                            <tr> <td> <b>Flavors:</b> </td> </tr>
                                            @if (Model.name == "soda")
                                            {
                                                <tr>
                                                    <!-- AMOGUS -->
                                                    <td><input type="radio" name="soda" value="Coke"><label for="Coke">Coca-Cola</label> </td>
                                                    <td><input type="radio" name="soda" value="WIP"><label for="WIP">Diet Coke</label></td>
                                                    <td><input type="radio" name="soda" value="WIP"><label for="WIP">Coke Zero</label></td>
                                                    <td><input type="radio" name="soda" value="WIP"><label for="WIP">Pepsi</label></td>
                                                    <td><input type="radio" name="soda" value="WIP"><label for="WIP">Root Beer</label></td>
                                                    <td><input type="radio" name="soda" value="WIP"><label for="WIP">Orange Fanta</label></td>
                                                    <td><input type="radio" name="soda" value="WIP"><label for="WIP">Strawberry Fanta</label></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="radio" name="soda" value="WIP"><label for="WIP">Sierra Mist</label></td>
                                                    <td><input type="radio" name="soda" value="WIP"><label for="WIP">Mtn. Dew</label></td>
                                                    <td><input type="radio" name="soda" value="WIP"><label for="WIP">Sprite</label></td>
                                                    <td><input type="radio" name="soda" value="WIP"><label for="WIP">Grass Soda</label></td>
                                                    <td><input type="radio" name="soda" value="WIP"><label for="WIP">Fruit Punch</label></td>
                                                    <td><input type="radio" name="soda" value="WIP"><label for="WIP">Lemonade</label></td>
                                                    <td><input type="radio" name="soda" value="WIP"><label for="WIP">Water</label></td>
                                                </tr>
                                            }
                                            else if (Model.name == "tea")
                                            {
                                                <tr>
                                                    <td><input type="radio" name="tea" value="Unsweet"><label for="Unsweet">Unsweet Tea</label></td>
                                                    <td><input type="radio" name="tea" value="Sweet"><label for="Sweet">Sweet Tea</label></td>
                                                    <td><input type="radio" name="tea" value="Sweet"><label for="Sweet">Half-Sweet Half-Unsweet Tea</label></td>
                                                </tr>
                                            }
                                        </table>
                                        <br />
                                    </p>
                                }
                                else if (Model.type.ToLower() == "milk")
                                {
                                    <table>
                                        <tr><td><b>Milk:</b></td></tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <input type="radio" name="milk" value="Milk"><label for="Milk">Regular Milk</label>
                                                    <input type="radio" name="milk" value="Milk"><label for="Milk">Chocolate Milk</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                }
                                <br />
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*

else if (Model.type.ToLower() == "dessert")
{
    <input type="image" src="@Model.imageSrc" class="collapsible item center" padding="0px" margin="0px" />
    <div class="itemInfo">
        <p id="Prices">
            $@Model.soloPrice (@Model.soloCal Cal.) <br />
            <b>Includes:</b> @Model.includes
        </p>
        <button id="NutFacts" class="collapsible">Nutritional Information</button>
        <div class="itemInfo">
            <b>Contains:</b> @Model.allergens <br />
            <b>Nutritional Facts:</b>
            <div class="shrinkText">
                <table class="nutTable">
                    <tr> <td>Calories: @Model.soloCal</td>                 <td>Calories from Fat: @Model.FatCal_Solo</td>   <td>Saturated Fat (g): @Model.SatFat_Solo</td> </tr>
                    <tr> <td>Trans Fat (g): @Model.TranFat_Solo</td>       <td>Cholesterol (g): @Model.Chole_Solo</td>      <td>Sodium (mg): @Model.Sodium_Solo</td> </tr>
                    <tr> <td>Dietary Fiber (g): @Model.DietFiber_Solo</td> <td>Protein (g): @Model.Protein_Solo</td>        <td>Sugars (g): @Model.Sugars_Solo</td> </tr>
                </table>
                <br />
            </div>
        </div>
        <form asp-controller="Menu" asp-action="DUD">
            <input type="image" src="Resources/btnAddToOrder.png" class="AddButton center"  />
        </form>
    </div>
}
else
{
    <h5>Error. No Item Availiable.</h5>
}*@