@model SecretMenuItem

<head>
    <script src="~/js/menu_JS.js"></script>
</head>

<div class="col-lg-4 col-md-12 mb-4">
    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="@Model.imageSrc" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <p class="card-text text-dark">
                <span>
                    $@Model.soloPrice (--- Cal) <br />
                </span>
            </p>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#@Model.id">
                Additional Info
            </button>

            <!-- Modal -->
            <div class="modal fade" id="@Model.id" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- TEMP -->
                            @if (Model.type.ToLower() == "menu" || Model.type.ToLower() == "dessert")
                            {
                                <b>Includes:</b> @Model.includes
                            }
                            <br /><br />
                            @if (Model.allergens != "...")
                            {
                                <b>Contains:</b> @Model.allergens
                            }
                            <br />
                            <div class="shrinkText">
                                <table class="nutTable">
                                    <tr> 
                                        <div>
                                            [ REDACTED ]
                                        </div>
                                    </tr>
                                </table>

                                @if (Model.type.ToLower() == "drinks3")
                                {
                                    <p id="Prices">
                                        <table>
                                            <tr> <td> <b>Sizes:</b> </td> </tr>
                                            <tr>
                                                <td><input type="radio" name="size-S" value="Small"><label for="Small">Small (12 oz): $1.59 (5 Cal)</label></td>
                                                <td><input type="radio" id="Coffee_M" name="size-M" value="Medium" checked><label for="Medium">Medium (16 oz): $1.89 (0 Cal)</label></td>
                                                <td><input type="radio" name="size-L" value="Large"><label for="Large">Large (20 oz): $2.19 (0 Cal)</label></td>
                                            </tr>
                                        </table>
                                    </p>
                                }
                                else if (Model.type.ToLower() == "drink4")
                                {
                                <p id="Prices">
                                    <div>
                                        <div>
                                            <b>Sizes:</b> <br />
                                            <input type="radio" name="size-K" value="Kids"><label for="Kids">Kids (16 oz): $1.69 (0-220 Cal)</label>
                                            <input type="radio" name="size-S" value="Small"><label for="Small">Small (20 oz): $2.19 (0-280 Cal)</label>
                                            <input type="radio" id="Soda_M" name="size-M" value="Medium" checked><label for="Medium">Medium (32 oz): $2.49 (0-440 Cal)</label>
                                            <input type="radio" name="size-L" value="Large"><label for="Large">Large (44 oz): $2.79 (0-610 Cal)</label>
                                        </div>
                                    </div>
                                    <br />
                                </p>
                                }
                                else if (Model.type.ToLower() == "milk")
                                {
                                    <table>
                                        <tr><td><b>Milk:</b></td></tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <input type="radio" name="milk" value="Milk"><label for="Milk">Regular Milk</label>
                                                    <input type="radio" name="milk" value="Milk"><label for="Milk">Chocolate Milk</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <input type="radio" name="milk" value="Milk"><label for="Milk">Almond Milk</label>
                                                    <input type="radio" name="milk" value="Milk"><label for="Milk">Soy Milk</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <input type="radio" name="milk" value="Milk"><label for="Milk">Oat Milk</label>
                                                    <input type="radio" name="milk" value="Milk"><label for="Milk">Cashew Milk</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <input type="radio" name="milk" value="Milk"><label for="Milk">B. Milk</label>
                                                    <input type="radio" name="milk" value="Milk" checked><label for="Milk">Sus Milk</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                }
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (User.IsInRole("Administrator"))
            {
                <div>
                    <a asp-controller="Menu" asp-action="Edit" asp-route-id="@Model.id" class="form-control btn-primary">
                        Edit
                    </a>
                    <a asp-controller="Menu" asp-action="Delete" asp-route-id="@Model.id" class="form-control btn-primary">
                        Delete
                    </a>
                </div>
            }
        </div>
    </div>
</div>
