@{
    ViewData["Title"] = "Menu";
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>NOTABURGER | Menu</title>
    <link rel="stylesheet" href="/css/menuStyle.css">
    

</head>
<body>
    <section class="text-white">
        <div class="spacer">
            <br />
            <br />
            <br />
            <br />
        </div>
        <!-- Burgers -->
        <div class="catName">Burgers</div>
        <grid>
            @*@foreach (MenuItem item in Model)
            {
            if (item.type == "burger")
            {
            <partial name="_MenuPartialView.cshtml" for="@item" />
            }
            }*@
        </grid>
        
        <!-- Chicken -->
        <div class="catName">Chicken</div>
        <grid>
            @*@foreach (MenuItem item in Model)
            {
            if (item.type == "chickenSando" || item.type == "chicken")
            {
            <partial name="_MenuPartialView.cshtml" for="@item" />
            }
            }*@
        </grid>
        

        <!-- Sides -->
        <div class="catName">Sides</div>
        <grid>
            @*@foreach (MenuItem item in Model)
            {
            if (item.type == "sides" || item.type == "apple")
            {
            <partial name="_MenuPartialView.cshtml" for="@item" />
            }
            }*@
        </grid>
        

        <!-- Breakfast -->
        <div class="catName">Breakfast</div>
        <grid>
            @*@foreach (MenuItem item in Model)
            {
            if (item.type == "breakfast" || item.type == "biscuitSando" || item.type == "breakfastPlatter")
            {
            <partial name="_MenuPartialView.cshtml" for="@item" />
            }
            }*@
        </grid>
        

        <!-- Drinks and Shakes -->
        <div class="catName">Drinks and Shakes</div>
        <grid>
            @*@foreach (MenuItem item in Model)
            {
            if (item.type == "drinks3" || item.type == "drinks4" || item.type == "milk")
            {
            <partial name="_MenuPartialView.cshtml" for="@item" />
            }
            }*@
        </grid>
       

        <!-- Dessert -->
        <div class="catName">Desserts</div>
        <grid>
            @*@foreach (MenuItem item in Model)
            {
            if (item.type == "dessert")
            {
            <partial name="_MenuPartialView.cshtml" for="@item" />
            }
            }*@
        </grid>
       
 
        <div>
            <br /><br /><br /><br /><br /><br />
        </div>
    </section>
</body>
</html>