@{
    ViewData["Title"] = "Secret Menu";
}
<link rel="stylesheet" href="~/css/secretsStyle.css" asp-append-version="true" />
@*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
<html>
@if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
{
    <html>
    <body>

        <!--Main layout-->
        <main class="my-5">
            <div class="container divs divs3">
                <!--Section: Content-->
                <section class="text-center">
                    <h4 class="mb-xxl-0 text-white"><strong><a href="https://drive.google.com/file/d/1bg2GNUPTKjzvgCE3uheF9sK1l3opjvVV/view?usp=share_link">Menu</a></strong></h4>
                    <br /><br />
                    <div class="row">
                        @foreach (SecretMenuItem item in Model)
                        {
                            if (item.type.ToLower() == "menu")
                            {
                                <partial name="_SecretMenuPartialView.cshtml" for="@item" />
                            }
                        }

                    </div>
                    <br /><br />
                    <h2 class="mb-xxl-0 text-white"><strong>Drinks and Shakes</strong></h2>
                    <div class="row">
                        @foreach (SecretMenuItem item in Model)
                        {
                            if (item.type.ToLower() == "drink3" || item.type.ToLower() == "drink4")
                            {
                                <partial name="_SecretMenuPartialView.cshtml" for="@item" />
                            }
                        }
                        @foreach (SecretMenuItem item in Model)
                        {
                            if (item.type.ToLower() == "drink")
                            {
                                <partial name="_SecretMenuPartialView.cshtml" for="@item" />
                            }
                        }
                    </div>
                    <br /><br />
                    <h2 class="mb-xxl-0 text-white"><strong>Dessert</strong></h2>
                    <div class="row">
                        @foreach (SecretMenuItem item in Model)
                        {
                            if (item.type.ToLower() == "dessert")
                            {
                                <partial name="_SecretMenuPartialView.cshtml" for="@item" />
                            }
                        }
                    </div>

                </section>
                <!--Section: Content-->

            </div>

            <!-- SPACER -->
            <div>
                <br /><br /><br /><br /><br /><br />
            </div>
            @* </section>*@
    </body>
    </html>
}
else
{

    <html>
    <body>

        <!--Main layout-->
        <main class="my-5">
            <div class="container divs divs3">
                <!--Section: Content-->
                <section class="text-center">
                    <h4 class="mb-xxl-0 text-white"><strong><a href="https://drive.google.com/file/d/1bg2GNUPTKjzvgCE3uheF9sK1l3opjvVV/view?usp=share_link">Menu</a></strong></h4>
                    <br /><br />
                    <div class="row">
                        @foreach (SecretMenuItem item in Model)
                        {
                            if (item.type.ToLower() == "menu")
                            {
                                <partial name="_SecretMenuPartialView.cshtml" for="@item" />
                            }
                        }

                    </div>
                    <br /><br />
                    <h2 class="mb-xxl-0 text-white"><strong>Drinks and Shakes</strong></h2>
                    <div class="row">
                        @foreach (SecretMenuItem item in Model)
                        {
                            if (item.type.ToLower() == "drink3" || item.type.ToLower() == "drink4")
                            {
                                <partial name="_SecretMenuPartialView.cshtml" for="@item" />
                            }
                        }
                        @foreach (SecretMenuItem item in Model)
                        {
                            if (item.type.ToLower() == "drink")
                            {
                                <partial name="_SecretMenuPartialView.cshtml" for="@item" />
                            }
                        }
                    </div>
                    <br /><br />
                    <h2 class="mb-xxl-0 text-white"><strong>Dessert</strong></h2>
                    <div class="row">
                        @foreach (SecretMenuItem item in Model)
                        {
                            if (item.type.ToLower() == "dessert")
                            {
                                <partial name="_SecretMenuPartialView.cshtml" for="@item" />
                            }
                        }
                    </div>

                </section>
                <!--Section: Content-->

            </div>

            <!-- SPACER -->
            <div>
                <br /><br /><br /><br /><br /><br />
            </div>
            @* </section>*@
    </body>
    </html>

}
